
  <meta charset="UTF-8">
  <link href="/FinalProject2/css/bootstrap.css" rel="stylesheet">
  <link href="/FinalProject2/css/magnific-popup.css" rel="stylesheet">
  <link href="/FinalProject2/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <script src="/FinalProject2/js/jquery.js"></script>
  <script src="/FinalProject2/js/bootstrap.js"></script>
  <script src="/FinalProject2/js/jquery.magnific-popup.js"></script>
  