<!DOCTYPE html>
<html>
<head th:include="include/head">
</head>
<head>
<title>タスク検索一覧</title>
</head>
	<body>
 		<div th:include="include/header"></div>
		    		<div class="container" >
							<div class="panel panel-primary" style="width: 100rem;">
			   						<div class="panel-heading"><b>検索</b></div>
			   						<div class="panel-body">
							    			<form class="form-inline mr-auto"  th:action="@{/task/taskSearch}"  th:method="post"  th:object="${taskSearch}">
													  <b>タスクID:</b>&nbsp;
													  <input id="taskId_from" class="form-control mr-sm-2" type="number" name="taskId_from" th:value="${session.taskId_from}" style="width: 10rem;" min="0" >
									  				   ~ 
									  				   <input id="taskId_to" class="form-control mr-sm-2" type="number" name="taskId_to"  th:value="${session.taskId_to}" style="width: 10rem;" min="0" >
									  				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				 <b>タスク名:</b>&nbsp;
									  				 <input class="form-control mr-sm-2" type="text"  name="task_name" th:value="${session.task_name}" >
									  				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				 <b>タスク種別:</b>&nbsp;
													<select class="form-control" name="taskDivision">
										  					<option th:value="0">ｰｰ</option>
										  					<option th:each="taskDivision:${session.taskDivisions}" th:value="${taskDivision.task_division_id}" th:selected="${taskDivision.task_division_id == session.task_division_id}">[[${taskDivision.task_division_name}]]</option>
													</select>
													<br><br>
													<b>ポイント:</b>&nbsp;
													 <input id="budget_from" class="form-control mr-sm-2" type="number" name="budget_from" th:value="${session.budget_from}" style="width: 10rem;" min="0" value="0">
									  				   ~ 
									  				 <input id="budget_to" class="form-control mr-sm-2" type="number" name="budget_to"  th:value="${session.budget_to}" style="width: 10rem;" min="0" value="0">
									  				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				<b>責任者:</b>&nbsp;&nbsp;&nbsp;&nbsp;
									  				<input class="form-control mr-sm-2" type="text" name="make_user" list="sekininsya" placeholder="テキスト入力もしくはダブルクリック" autocomplete="off">
													 <datalist id="sekininsya" >
															<option th:each="employee:${session.employees}"  th:value="${employee.employee_id}" th:selected="${employee.employee_id == session.employee_id}">[[${employee.employee_name}]]</option>
													 </datalist>
									  				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				 <b>状態:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				 <select class="form-control" name="end_flg" >
														  <option th:value="全て">全て</option>
														  <option th:value="未完了" th:selected="'未完了' == ${session.end_flg}">未完了</option>
														  <option th:value="完了" th:selected="'完了' == ${session.end_flg}">完了</option>
													 </select>
													 <br><br>
									  				 <b>締切日:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													  <input class="form-control mr-sm-2" type="date" name="due_date_from" th:value="${session.due_date_from}"  style="width: 15rem;">
									  				   ~ 
									  				   <input class="form-control mr-sm-2" type="date" name="due_date_to"  th:value="${session.due_date_to}"  style="width: 15rem;">
									  				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				   <b>作成日:</b>&nbsp;&nbsp;&nbsp;&nbsp;
													  <input class="form-control mr-sm-2" type="date" name="make_date_from" th:value="${session.make_date_from}" style="width: 15rem;">
									  				   ~ 
									  				   <input class="form-control mr-sm-2" type="date" name="make_date_to"  th:value="${session.make_date_to}" style="width: 15rem;">
									  				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  				 
									 				 <button class="btn btn-primary pull-right" type="submit">検索</button>
											</form>	
			  						</div>
							</div>
		      				<h3>タスク一覧　<a class="btn btn-primary pull-right" href="/FinalProject2/task/new">新規作成</a></h3>
		      				<table class="table table-hover table-sm table-bordered">
		        					<thead>
		          							<tr>
										            <th class="col-md-1">タスクID</th>
										            <th class="col-md-2">タスク名</th>
										            <th class="col-md-2">タスク種別</th>
										            <th class="col-md-1">ポイント</th>
										            <th class="col-md-1">責任者</th>
										            <th class="col-md-1">締切日</th>
										            <th class="col-md-1">作成日</th>
										            <th class="col-md-1"></th>
		          							</tr>
		        					</thead>
		        					<tbody>
		          							<tr th:each="task:${task_page}" >
										            <td th:text="${task.task_id}"></td>
										            <td th:text="${task.task_name}"></td>
										            <td th:text="${task.taskDivision.task_division_name}"></td>
										            <td th:text="${task.budget}"></td>
										            <td th:text="${task.employee.employee_name}"></td>
										            <td th:text="${#temporals.format(task.due_date, 'yyyy年MM月dd日')}"></td>
										            <td th:text="${#dates.format(task.make_date, 'yyyy年MM月dd日')}"></td>
		            								<td>        
										            		<a class="btn btn-primary btn-xs" th:href="@{/task/{task_id}(task_id=${task.task_id})}">詳細</a>
		            								</td>
		          							 </tr>
		        					</tbody>
		      				</table>
		      				<form th:action="@{/task/pagenate}" th:object="${page}" method="get">
				    				<div class="float-right">
				      						<div>
				        							<span th:text="${page.number+1}"></span>
				    								<span>/</span>
				    								<span th:text="${page.totalPages}"></span>
				    								<span>頁を表示</span>
				      						</div>
				      						<div th:fragment='paginationbar' style="float: right;">
				        							<ul class="pagination">
				          									<li class="page-item">
				              										<span th:if="${page.first}">←先頭</span>
				            										<a th:if="${not page.first}" th:href="@{/task/page={page}(page=${0})}">←先頭</a>
				          									</li>
				          									<li class="page-item" th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'>
				            										<span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
				            										<a th:if='${i}!=${page.number}' th:href="@{/task/page={page}(page=${i})}" class="page-link">
				                											<span th:text='${i+1}'>1</span>
				            										</a>
				          									</li>
				          									<li class="page-item">
				            										<span th:if="${page.last}">末尾➝</span>
				            										<a th:if="${not page.last}" th:href="@{/task/page={page}(page=(${page.totalPages}-1))}">末尾➝</a>           
				            								</li>
				        							</ul>
				       						</div>
				     				</div>
				   			</form>
				   	</div>
				   	<script>
				   			$('#taskId_from').blur(function(){
				   				if($('#taskId_from').val() == ''){
				   					$('#taskId_from').val(0);
				   				}
				   			});
				   			
				   			$('#taskId_to').blur(function(){
				   				if($('#taskId_to').val() == ''){
				   					$('#taskId_to').val(0);
				   				}
				   			});
				   			
				   			$('#budget_from').blur(function(){
				   				if($('#budget_from').val() == ''){
				   					$('#budget_from').val(0);
				   				}
				   			});
				   			
				   			$('#budget_to').blur(function(){
				   				if($('#budget_to').val() == ''){
				   					$('#budget_to').val(0);
				   				}
				   			});
				   	</script>
		</body>
</html>



