<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
  	<div th:include="include/head"></div>
</head>
<head>
<title>マイページ</title>
</head>
<body>
  <div th:include="include/header"></div>
  <div class="container col-md-8 col-md-offset-2">
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<div class="panel-title" th:text="マイページ">
		</div>
	  </div>
	  <div class="panel-body">
	  <div class="container col-md-12">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th class="col-md-1">No.</th>
			  <th>タスク名</th>
			  <th>責任者</th>
			  <th>納期</th>
			  <th class="col-md-1"></th>
			</tr>
		  </thead>
		  <tbody>
			<tr class="danger" th:each="TaskManagement, stat:${taskExpiredList}" th:object="${TaskManagement}">
			  <td th:text="${stat.count}"></td>
			  <td th:text="*{taskDetail.task_detail_name}"></td>
			  <td th:text="*{taskDetail.task.employee.employee_name}"></td>
			  <td th:text="*{#temporals.format(due_date,'yyyy年MM月dd日')}"></td>
			  <td><a class="btn-sm btn-success" th:href="@{/mytask/done/{id}(id=*{task_management_id})}">完了</a></td>
			</tr>
			<tr th:each="TaskManagement, stat:${taskNormalList}" th:object="${TaskManagement}">
			  <td th:text="${stat.count + #lists.size(taskExpiredList)}"></td>
			  <td th:text="*{taskDetail.task_detail_name}"></td>
			  <td th:text="*{taskDetail.task.employee.employee_name}"></td>
			  <td th:text="*{#temporals.format(due_date,'yyyy年MM月dd日')}"></td>
			  <td><a class="btn-sm btn-success" th:href="@{/mytask/done/{id}(id=*{task_management_id})}">完了</a></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="container col-md-7">
	  <div class="panel panel-success">
		<table th:if="${mypageML} != null" class="table" th:object="${mypageML}">
		  <tr>
		  	<th>現在のポイント状況</th>
		  	<td th:text="|*{getPoint} ポイント|"></td>
		  </tr>
		  <tr>
		  	<th>今月のノルマ</th>
		  	<td th:text="|*{norma} ポイント|"></td>
		  </tr>
		  <tr>
		  	<th>達成度</th>
		  	<td th:text="|*{100 * getPoint / norma}%|"></td>
		  </tr>
		  <tr>
		  	<th>今月獲得見込みポイント</th>
		  	<td th:text="|*{willGetPoint} ポイント|"></td>
		  </tr>
		  <tr>
		  	<th>部署内ランキング</th>
		  	<td th:text="|*{rankD}位(*{rankDTotal}人中)|"></td>
		  </tr>
		  <tr>
		  	<th>社内ランキング</th>
		  	<td th:text="|*{rankA}位(*{rankATotal}人中)|"></td>
		  </tr>
		</table>
	  </div>
	  </div>
	  <div class="container col-md-5">
		<div class="panel panel-success">
	  	  <div class="panel-heading">
			<h2 class="panel-title">現在の利用可能ポイント</h2>
	  	  </div>
	  	  <div class="panel-body">
	  	  	<br>
	    	<p class="text-center" th:text="${point}+ポイント"></p>
	    	<br>
	    	<div class="col-md-6">
	    	  <a class="btn btn-success" href="/FinalProject2/mypointchange">ポイント交換</a>
	    	</div>
	    	<div class="col-md-6">
	    	  <a class="btn btn-success" href="/FinalProject2/mybonuspoint">ポイント履歴</a>
	    	</div>
	  	  </div>
		</div>
  	  </div>
	  </div>
	</div>
  </div>

</body>
</html>