<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head th:include="include/head">
</head>
<head>
<title>マイページ</title>
<script>
	$(function(){
		$('#year').change(function(){
			$('#form').submit();
		});
	});
</script>
</head>
<body>
  <div th:include="include/header">
  </div>
  <div class="container">
	<form id="form">
	  <select class="form-control" id="year" name="year" th:value="${year}">
		<option value="">直近12ヶ月</option>
		<option th:each="y:${yearList}" th:value="*{y}" th:text="*{y}+年度" th:selected="${y == year}"></option>
	  </select>
	</form>
	<div class="panel panel-primary">
	 <div class="panel-heading" th:text="ポイント獲得実績">
	  </div>
	  <div class="panel-body">
	    <th:block th:if="${#lists.size(taskYearResult)} != 0">
		<div class="col-md-3">
		  <div class="panel panel-success">
		  	<div class="panel-heading">
		  	  <p class="text-center panel-title">獲得ポイント</p>
		  	  <p class="text-center" th:text="${#numbers.formatInteger(#aggregates.sum(taskYearResult.![result_point]), 1,'COMMA')}"></p>
		  	</div>
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="panel panel-info">
		  	<div class="panel-heading" th:unless="${yearFlg}">
		  	  <p class="text-center panel-title">ノルマ達成率</p>
			  <p class="text-center" th:text="|${100 * #aggregates.sum(taskYearResult.![result_point]) / #aggregates.sum(taskYearResult.![norma])}%|"></p>
			</div>
			<div class="panel-heading" th:if="${yearFlg}">
		  	  <p class="text-center panel-title">ノルマ達成率</p>
			  <p class="text-center" th:text="|${100 * #aggregates.sum(taskYearResult.![result_point]) / (#aggregates.sum(taskYearResult.![norma]) + ((12 -#lists.size(taskYearResult))* employee.employmentInfo.norma))}%|"></p>
		  	</div>
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="panel panel-success">
		  	<div class="panel-heading">
		  	  <p class="text-center panel-title">部署内ランキング</p>
		  	</div>
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="panel panel-success">
		  	<div class="panel-heading">
		  	  <p class="text-center panel-title">社内ランキング</p>
		  	</div>
		  </div>
		</div>
		</th:block>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading" th:text="ポイント獲得履歴">
	  </div>
	  <div class="panel-body">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>年月</th>
			  <th>実績</th>
			  <th>ノルマ</th>
			  <th>達成率</th>
			  <th>部署内ランキング</th>
			  <th>社内ランキング</th>
			</tr>
		  </thead>
	    <th:block th:if="${#lists.size(taskYearResult)} != 0">
		  <tbody>
			<tr th:each="TaskMonthlyResult:${taskYearResult}" th:object="${TaskMonthlyResult}">
			  <td th:text="*{#temporals.format(result_date,'yyyy年MM月')}"></td>
			  <td th:text="|*{#numbers.formatInteger(result_point, 1,'COMMA')} ポイント|"></td>
			  <td th:text="|*{#numbers.formatInteger(norma, 1,'COMMA')} ポイント|"></td>
			  <td th:text="|*{(100* result_point / norma)} %|"></td>
			  <td th:text="*{department_id}"></td>
			  <td></td>
			</tr>
		  </tbody>
		  </th:block>
		</table>
	  </div>
	</div>
  </div>
</body>
</html>